
.form__users-container{
    
    display: flex;
    flex-direction: column;
    background-color: hsl(0, 0%, 40%);
    border-radius: 1rem;
    padding: 5px;
    
    

    

}
.form__title{
    font-weight: 600;
    padding-left: 4px;
    color: white;
}
.form__group{
    display: flex;
    flex-direction: column;
    gap: 1.4rem;
    
    
}
.form__box{
    display: flex;
    flex-direction: column;
    width: 300px;
    padding: .5rem;
    
    
   
}
.form__input{
    width: 100%;
    border-radius: .5rem;
    padding: 4px;
    background-color: white;
    
    
}
.form__label{
    padding-bottom: 4px;
    color: white;
}

